<h1> Trang Chi Tiết</h1>
<div class="product-detail">
  <div class="product-image">
    <img src="{{detailProduct?.img}}" alt="{{detailProduct?.name}}">
  </div>
  <div class="product-info">
    <h1>{{ detailProduct?.name }}</h1>
    <p class="price">Giá: {{ detailProduct?.price }} vnđ</p>
    <p class="quantity">Có sẵn: {{ detailProduct?.quantity }}</p>
    <button (click)="this.storeService.addToCart({
       id: detailProduct?.id,
       name: detailProduct?.name,
       price: detailProduct?.price,
       quantity: 1,
     })">Thêm vào giỏ hàng
    </button>
  </div>
</div>

